/* line 88, xxx/*.png */
.xxx-sprite, .xxx-2, .xxx-3, .xxx-4, .xxx-5, .xxx-6, .xxx-ll {
  background-image: url('../../images/xxx-sdc4c7db8a6.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.xxx-2 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.xxx-3 {
  background-position: 0 -169px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.xxx-4 {
  background-position: 0 -344px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.xxx-5 {
  background-position: 0 -526px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.xxx-6 {
  background-position: 0 -690px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.xxx-ll {
  background-position: 0 -855px;
}
